<ion-view view-title="Aqu-Scape">
    <ion-content class="app">
        <div id="palette" class="card palette">
            <div class="paletteArrow" ng-click="leftArrow()">⇚</div>
            <div class="plantPalette" ng-repeat="plant in plantsToShow" ng-click="setBrush(plant)" ng-style="plant.backgroundColor">
                <p class="plantIdentifier" ng-style="plant.textColor">{{plant.identificationNumber}}</p>
            </div>
            <div class="paletteArrow" ng-click="rightArrow()">⇛</div> 
        </div>
        <div class="card">
            <div class="rock" ng-click="stoneBrush()">
                STONE
            </div>
            <div class="tree" ng-click="treeBrush()">
                BRANCH/ROOT
            </div>
        </div>
        <div class="card canvasContainer">
            <canvas id="aquCanvas">
        </div>
        <div class="card">
            <div class="tools">
                <button class="toolButton" ng-click="clear()">Clear</button>
                <button class="toolButton" ng-click="undo()">Undo</button>
                <button class="toolButton" ng-click="redo()">Redo</button>
                <button class="toolButton" ng-click="save()">Save</button>
                <button class="toolButton" ng-click="newCanvas()">New</button>
            </div>
        </div>
        <div class="card">
            <span class="aquText"><strong>Aquarium dimensions</strong>: width: {{width}} cm, depth: {{depth}} cm</span><br>
            <span class="aquText smallText">Width is y-axis (direction ↓) while depth is x-axis (direction →)</span>
        </div>
        <div class="card" ng-if="brush" ng-style="brush.backgroundColor">
            <p class="brush aquText" ng-style="brush.textColor">
                <span ng-if="!brush.customType"><strong>Selected brush ({{brush.identificationNumber}})<strong>: {{brush.scientificName}} (diameter: {{brush.diameter}} cm, height: {{brush.height}} cm)</span>
                <span ng-If="brush.customType === 'tree'">Selected brush: BRANCH/ROOT</span>
                <span ng-If="brush.customType === 'stone'">Selected brush: STONE</span>
            </p>
        </div>
    </ion-content>
</ion-view>