<ion-view view-title="Aqu-Scape">
    <ion-content class="app">
        <div id="palette" class="card palette">
            <div class="paletteArrow" ng-click="leftArrow()">⇚</div>
            <div class="plantPalette" ng-repeat="plant in plantsToShow" ng-click="setBrush(plant)" ng-style="plant.backgroundColor">
                <p class="plantIdentifier" ng-style="plant.textColor">{{plant.identificationNumber}}</p>
            </div>
            <div class="paletteArrow" ng-click="rightArrow()">⇛</div> 
        </div>
        <div class="card canvasContainer">
            <canvas id="aquCanvas">
        </div>
        <div class="card">
            <div class="tools">
                <button class="toolButton" ng-click="clear()">Clear</button>
                <button class="toolButton" ng-click="undo()">Undo</button>
                <button class="toolButton" ng-click="redo()">Redo</button>
                <button class="toolButton">Save</button>
                <button class="toolButton" ng-click="newCanvas()">New</button>
            </div>
        </div>
        <div class="card" ng-if="brush" ng-style="brush.backgroundColor">
            <p class="brush" ng-style="brush.textColor">Selected brush ({{brush.identificationNumber}}): {{brush.scientificName}} (diameter: {{brush.diameter}} cm, height: {{brush.height}} cm)</p>
        </div>
    </ion-content>
</ion-view>

<script id="dimensions.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Choose dimensions</h1>
        </ion-header-bar>
        <ion-content class="app">
            <div class="card">
                <p>Choose dimensions in centimeters for the aquarium.</p>
            </div>
            <div class="card">                
                <label for="depth">Width</label>
                <input id="depth" type="text" placeholder="100">
            </div>
            <div class="card">                
                <label for="depth">Depth</label>
                <input id="depth" type="text" placeholder="50">
            </div>
            <div class="card">
                <button ng-click="dimensionsChosen()">Create</button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>